*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
	min-height: 100vh;
	color: #555;
	background-color: coral;
}

form, .content{
	max-width: 400px;
	min-height: 100px;
	margin: 10px auto;
	border:  thin solid #e4e4e4;
	padding: 40px 30px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
	background-color: white;
}

form h2{
	margin-bottom: 10px;
}

form h4{
	margin-bottom: 40px;
	font-weight: normal;
}
form h4 span{
	color:  coral;
	font-weight: bold;
	text-decoration: underline;
}
form label{
	display: block;
	margin-bottom: 10px;
	padding-left: 5px;
}

form input, form textarea{
	display: block;
	width:  100%;
	padding: 10px;
	margin-bottom: 10px;
	font-size: 16px;
	border:  thin solid #e4e4e4;
	margin-bottom: 30px;
}

form select{
	display: block;
	width:  100%;
	margin-bottom: 10px;
	padding: 10px;
	font-size: 16px;
	border:  thin solid #e4e4e4;
	background-color: white;
	color: #555;
}

form input:focus
{
	outline: none;
	border: thin solid coral;
}

form textarea{
	min-height: 150px;
}

form input::placeholder{
	font-size: 16px;
}

form button{
	background: #32749a;
	color: white;
	border: none;
	padding: 15px;
	width:  100%;
	font-size: 16px;
	margin-top: 20px;
	cursor: pointer;
}

form button:active{
	background-color: green;
}
form a{
	text-decoration: none;
	padding: 6px 20px;
	border: thin solid #d4d4d4;
	font-size: 14px;
	font-weight: normal;
	background: #e4e4e4;
	color: #555;
	margin-top: 10px;
}

.error{
	margin-top: 30px;
	color: #af0c0c;
}

.success{
	margin-top: 30px;
	color: green;
}

.content header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: thin solid #e4e4e4;
	padding-bottom: 30px;
}
  
.content header h2 {
	margin: 0;
}
  
.content header h3 {
	margin: 0;
	font-size: 18px;
}
  
.content header div:first-child {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
  
.content header div:last-child {
	margin-left: auto;
}
  
.content header a {
	text-decoration: none;
	padding: 6px 20px;
	border: thin solid #d4d4d4;
	font-size: 14px;
	font-weight: normal;
	background: #e4e4e4;
	color: #555;
	margin-top: 10px;
}
  

main {
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
}

main a {
	display: block;
	margin: 50px 0;
	width: 200px;
	height: 50px;
	padding: 10px 20px;
	font-size: 20px;
	text-align: center;
	background-color: #008CBA;
	color: white;
	border: none;
	border-radius: 5px;
	text-decoration: none;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
